8.manager/ManagerModules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StoredProcedure"/>
      <xs:enumeration value="Sql"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AG2Manager">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="module">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="settings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="setting">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="table">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="primaryKey" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="queries">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="query">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="addParameter">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="section" type="xs:string" use="required" />
                        <xs:attribute name="type" type="TypeType" use="optional" />
                        <xs:attribute name="sql" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="options">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="option">
                      <xs:complexType>
                        <xs:attribute name="querySection" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="fields">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="1">
                    <xs:element name="EditableListBox">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="label" type="xs:string" use="required" />
                        <xs:attribute name="dataFieldName" type="xs:string" use="required" />
                        <xs:attribute name="showInList" type="xs:boolean" use="required" />
                        <xs:attribute name="inListUseField" type="xs:string" use="required" />
                        <xs:attribute name="required" type="xs:boolean" use="required" />
                        <xs:attribute name="tableName" type="xs:string" use="required" />
                        <xs:attribute name="dataTextField" type="xs:string" use="required" />
                        <xs:attribute name="dataValueField" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Date">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="label" type="xs:string" use="required" />
                        <xs:attribute name="dataFieldName" type="xs:string" use="required" />
                        <xs:attribute name="required" type="xs:boolean" use="required" />
                        <xs:attribute name="showInList" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Label">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TextBox">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="label" type="xs:string" use="required" />
                        <xs:attribute name="inputMask" type="xs:string" use="required" />
                        <xs:attribute name="required" type="xs:boolean" use="required" />
                        <xs:attribute name="sort" type="xs:boolean" use="required" />
                        <xs:attribute name="dataFieldName" type="xs:string" use="required" />
                        <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="showInList" type="xs:boolean" use="required" />
                        <xs:attribute name="maxlength" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="filters">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="1">
                    <xs:element name="filter">
                      <xs:complexType>
                        <xs:attribute name="label" type="xs:string" use="required" />
                        <xs:attribute name="filterType" type="xs:string" use="required" />
                        <xs:attribute name="field" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="version" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>